/* 
    Created on : 28-Sep-2017, 16:43:10
    Author     : Joe O'Regan
*/

    
.cl1{
    /*font-size: 120%;*/
    background-color: #2c90f4;
    color: white;
    border-radius: 15px;
    margin: auto;
    width: 90%;
    margin-top: 3%;
  -ms-overflow-style: none;
}

.cl2{
    /*font-size: 120%;*/
    background-color: #0a6dd1;
    color: white;
    border-radius: 15px;
    margin-top: 3%;    
    height: 700px;
}

.frame{ 
	border:none;
	overflow:hidden;
	overflow-y: none;
	
  -ms-overflow-style: none;
}

.footer{
    background-color: #002b75;	/* Dark Blue */
    color: white;
    border-radius: 15px;
    margin-top: 3%;
    width: 90%;
    margin: auto;
    margin-top: 2%;
    margin-bottom: 0%;
}

img:hover{
    border-style: solid;
    border-color: white;
}
img{
    border:1px solid transparent;
}

.cl2 > a:hover {
    background-color: white;
    color: #80bdff; /*dark blue*/
}

a:link{color:white;}
a:visited{color:white;}

td,th {
    text-align:left; 
    padding-left: 20px;
    padding-right: 20px;
}

.game {
	font-size: 120%;
}

p.stuff {
    margin-left: 5cm;
}


ul.game{
	font-size: 120%;
  	margin-left:100px;
}
